* {
  margin: 0;
  padding: 3px;
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, 0.003);
}

.header {
  background-image: linear-gradient(
      to right,
      #1fa2ffa2 0%,
      #12d8faa2 51%,
      #1fa2ffa2 100%
    ),
    url(images/123.jpg);
  height: 100vh;
  background-size: conver;
  background-position: top;
  clip-path: ellipse(69% 70% at 62% 20%);
}

.primary-heading {
  font-family: "VT323", monospace;
  color: #fff;
  margin: 10% 39% 0 38%;
  font-weight: 700;
  font-size: 6rem;
  text-transform: uppercase;
  animation: moveLeft 1s 0.1s;
}

.primary-secondary {
  font-family: "Tektur", cursive;
  margin: 0 43%;
  font-size: 1rem;
  color: #fff;
  animation: moveTop 1s 0.1s;
}

@keyframes moveLeft {
  0% {
    transform: translateX(20px);
  }

  50% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes moveTop {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  50% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Menu */

#menu {
  background: transparent;
  font-family: "Tektur", cursive;
  color: #fff;
  height: 37px;
  padding-left: 18px;
  border-radius: 0px;
}
#menu ul,
#menu li {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
#menu ul {
  width: 100%;
}
#menu li {
  float: left;
  display: inline;
  position: relative;
}
#menu a {
  display: block;
  line-height: 37px;
  padding: 0 14px;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}
#menu a.dropdown-arrow:after {
  content: "\25BE";
  margin-left: 5px;
}
#menu li a:hover {
  color: #0099cc;
  background: #f2f2f2;
  border-radius: 3px;
}
#menu input {
  display: none;
  margin: 0;
  padding: 0;
  height: 37px;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}
#menu label {
  display: none;
  line-height: 37px;
  text-align: center;
  position: absolute;
  left: 35px;
}
#menu label:before {
  font-size: 1.6em;
  content: "\2261";
  margin-left: 20px;
}
#menu ul.sub-menus {
  height: auto;
  overflow: hidden;
  width: 170px;
  background: #444444;
  position: absolute;
  z-index: 99;
  display: none;
}
#menu ul.sub-menus li {
  display: block;
  width: 100%;
}
#menu ul.sub-menus a {
  color: #ffffff;
  font-size: 16px;
}
#menu li:hover ul.sub-menus {
  display: block;
}
#menu ul.sub-menus a:hover {
  background: #f2f2f2;
  color: #444444;
  border-radius: 3px;
}

/* New Div */
.container-1 {
  width: 100%;
}

svg {
  font-family: "Tektur", cursive;
  width: 100%;
  height: 100%;
}
svg text {
  animation: stroke 5s infinite alternate;
  stroke-width: 2;
  stroke: #365fa0;
  font-size: 5rem;
}
@keyframes stroke {
  0% {
    fill: rgba(72, 138, 204, 0);
    stroke: #00008bda;
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }
  70% {
    fill: rgba(72, 138, 204, 0);
    stroke: #00008bda;
  }
  80% {
    fill: rgba(72, 138, 204, 0);
    stroke: #00008bda;
    stroke-width: 3;
  }
  100% {
    fill: rgba(72, 138, 204, 1);
    stroke: rgba(54, 95, 160, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}

/* Another Div */

.container-2 {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 200px;
  height: 450px;
  padding: 10% 30%;
  background-image: linear-gradient(
      to right,
      #1fa2ff66 0%,
      #12d8fa66 51%,
      #1fa2ff66 100%
    ),
    url(images/123123.jpg);
  background-size: cover;
  background-position: center;
  transform: skewY(-7deg);
}

.testbutton {
  font-family: "Tektur", cursive;
  background-image: linear-gradient(
    to right,
    #1fa2ff 0%,
    #12d8fa 51%,
    #1fa2ff 100%
  );
  margin: 42px;
  height: 80px;
  width: 210px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.3s;
  box-shadow: 0 5px 15px #000;
  font-size: 2rem;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
}

.testbutton:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.testbutton:active {
  box-shadow: 0 2px 10px #000;
}

/* Flex Container */

.flex-container {
  font-family: "Tektur", cursive;
  display: flex;
  flex-direction: row;
  margin: 50px 0;
  border-radius: 30px;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: normal;
  align-content: normal;
}

.flex-items:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(3) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items img {
  border-radius: 30px;
  box-shadow: 0 1px 8px #000;
  margin-left: 100px;
  margin-bottom: 50px;
  height: 250px;
  width: 250px;
}

/* New Container */

.glitch-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 100px 0 20px 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 30px;
  font-family: "Tektur", cursive;
}

.glitch {
  position: relative;
  font-size: 50px;
  font-weight: bold;
  font-size: 7rem;
  color: #000;
  letter-spacing: 3px;
  z-index: 1;
}

.glitch:before,
.glitch:after {
  display: block;
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.glitch:before {
  animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  color: #00ffff;
  z-index: -1;
}

.glitch:after {
  animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both
    infinite;
  color: #ff00ff;
  z-index: -2;
}

@keyframes glitch-it {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  to {
    transform: translate(0);
  }
}

/* Grid Gallery */
.container-4 {
  width: 60%;
  margin: 2rem auto;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 1.5rem;
}

.gallery__img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}

.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}

.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;
}

.gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
}

/* Footer */
.footer {
  background-color: #2b2b2b;
  font-family: "Tektur", cursive;
  padding: 10px 0 80px 0;
  font-size: 14px;
  color: #f7f7f7;
}
.footer__logo-box {
  text-align: center;
  margin-bottom: 10px;
}
.footer__logo {
  width: 250px;
  height: auto;
}
.footer__navigation {
  border-top: 1px solid #777;
  display: inline-block;
}
.footer__list {
  list-style: none;
}
.footer__item {
  display: inline-block;
}
.footer__item:not(:last-child) {
  margin-right: 10px;
}
.footer__link:visited,
.footer__link:link {
  color: #f7f7f7;
  background-color: #2b2b2b;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.2s;
}
.footer__link:hover,
.footer__link:active {
  color: #ffffff80;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  transform: rotate(5deg) scale(1.3);
}
.footer__copyright {
  border-top: 1px solid #777;
  padding-top: 10px;
  width: 60%;
  float: right;
}
